<mat-card class="customer-card p-3">
  <h5 class="text-primary fw-bold">Customer</h5>

  <form [formGroup]="form" (ngSubmit)="fetchCustomer()" class="row g-2 align-items-center">
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>CIF Number</mat-label>
        <input matInput formControlName="cif" placeholder="Enter CIF">
        <mat-error *ngIf="form.get('cif')?.hasError('required')">CIF required</mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6 d-flex gap-2">
      <button mat-flat-button color="primary" type="submit">Fetch</button>
      <button mat-stroked-button color="accent" type="button" (click)="openCustomerInfo()" [disabled]="!fetched">Customer Info</button>
    </div>
  </form>
</mat-card>
